/*Amanda Tjahjadi, Scott Rippee
 *Hackathon Project for CA Civic Data
*/

body{
    font-family: 'Lato', sans-serif;
    font-size:18px;
    line-height:1.75;
    color:#565656;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans', sans-serif; font-weight: 700;
}

.title-size{
    font-size:1.778em;
    line-height:1.4em;
}
    
.sub-heading{
    font-size:1.33em;
}

/*colors*/

.sky-blue{
    background-color:#a7e4f2;    
}

.bright-blue{
    background-color:#47d4e2;
}

.bright-green{
    background-color:#AAD845;
}

.purple{
    background-color:#B665C4;
}

.yellow{
    background-color:#E8DC4F;
}
/*font colors*/
.white-font{
    color:#fff;
}

.bright-blue{
    color:#2CD7FF;
}

/*navbar styles*/

.navbar-default .navbar-nav > li > a {
    color:#fff;
}

/*padding*/

h3 .glyphicon{
    padding:5px 10px;
}

.wizard-title{
    padding-bottom:60px;
}

.wizard-padding{
    padding-top:80px;
    padding-bottom:80px;
}

.content-padding{
    padding-top:60px;
    padding-bottom:60px;
}

/*wizard area styles*/

#wiz-container{
    
    /*height:00px;*/
    
}

@media(min-width:768px){
    #wiz-container{
        background-image:url("../../img/city.png");
        /*background-size: contain;*/
        height:700px;
        background-repeat:repeat-x;
        background-position:left bottom;
    }
}

#wiz-container-small{
    background-color: #888;
    background-size: cover;
    height:200px;
    background-repeat:no-repeat;
}

.rank-criteria-box{
    width:150px;
    height:150px;
    background-color:#2cd7ff;
    position:relative;
    margin:10px auto;
    border-radius:10px;
    -webkit-box-shadow: 0px 0px 36px -2px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 36px -2px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 36px -2px rgba(0,0,0,0.59);
    opacity:0.8;
    border:6px #e3fcff solid;
}

@media(min-width:768px){
    .rank-criteria-box{
        width:250px;
    height:250px;
        position:relative;
        margin:0 auto;
    }
}
.overall-rank1{
    width:300px;
    height:200px;
    background-color:#7D8789;
    position:relative;
    margin:0 auto;
}

/*about us*/
#about{
    background-color:#AAD845;
}

#about p{
    text-indent: 50px;
    max-width:800px;
    margin:20px auto;
}

/*hospital lists*/
.hospital-spacer{
    padding-bottom:20px;
}

.hospital-card{
  background-color: #fff;
  border:2px solid #D0D1CF;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0,0,0,.15);
  display: block;
  padding: 16px;
  position: relative;
  z-index: 1;
  margin-bottom:20px;
  max-width:800px;
  margin:0 auto;
  padding-bottom:10px;
}