/*Amanda Tjahjadi, Scott Rippee
 *Hackathon Project for CA Civic Data
*/

body{
    font-family: Lato;
    font-size:18px;
    line-height:1.625;
    color:#444444;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans', sans-serif; font-weight: 700;
}

.title-size{
    font-size:1.778em;
    line-height:1.4em;
}
    
.sub-heading{
    font-size:1.33em;
}

/*colors*/
.bright-blue{
    background-color:#2CD7FF;
}

/*font colors*/
.white-font{
    color:#fff;
}

/*navbar styles*/

.navbar-default .navbar-nav > li > a {
    color:#fff;
}

/*padding*/
.wizard-title{
    padding-bottom:60px;
}

.wizard-padding{
    padding-top:80px;
    padding-bottom:80px;
}

.content-padding{
    padding-top:60px;
    padding-bottom:60px;
}

/*wizard area styles*/
#wiz-container{
    background:url("../../img/valley.jpg");
    background-size: cover;
    height:700px;
    background-repeat:no-repeat;
}

#wiz-container-small{
    background-color: #888;
    background-size: cover;
    height:200px;
    background-repeat:no-repeat;
}

.rank-criteria-box{
    width:300px;
    height:200px;
    background-color:#7D8789;
    position:relative;
    margin:0 auto;
}

.overall-rank1{
    width:300px;
    height:200px;
    background-color:#7D8789;
    position:relative;
    margin:0 auto;
}

/*about us*/
#about{
    background-color:#AAD845;
}

.about p{
    max-width:900px;
    margin: 0 auto;
}

/*hospital lists*/
.hospital-spacer{
    padding-bottom:20px;
}

.hospital-card{
  background-color: #fff;
  border:2px solid #D0D1CF;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0,0,0,.15);
  display: block;
  padding: 16px;
  position: relative;
  z-index: 1;
  margin-bottom:20px;
  max-width:800px;
  margin:0 auto;
  padding-bottom:10px;
}